.searchBar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    form {
        display: flex;
        align-items: center;
        gap: 10px;


        input[type = "text"]
        {
            padding: 10px;
            font-size: 16px;

        }

        button {
            padding:10px 15px;
            font-size: 16px;
            background-color: #4caf50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        h1 {
            background-color: red;
            padding: 10px;
            border-radius: 50%;
            font-size: 20px;
            color: white;
        }

    }



}
